<h2><span>User Dashboard</span></h2>
<h5><span>User: {{userid}} Partner: {{partnerid}}</span><h5>
<form method="GET" action="/user/" class="user-form pull-right form-inline">
    <div class="form-group">
        <label for="usercode">Userid: </label>&nbsp;&nbsp;
        <input type="text" class="form-control" id="usercode" name="u" placeholder="769bcf1dbf">&nbsp;&nbsp;
        <label for="algocode">Algorithm: </label>&nbsp;&nbsp;
        <input type="text" class="form-control" id="algo" name="a" placeholder="cre, mre(cre2)">&nbsp;&nbsp;
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<div class="separator"></div>
<div class="gallery row">
  <h4><span>{{recos.length}} Recommendations found.</span></h4>
  <ul>
    {{#each recos}}
      {{#if offerid }}
         <li class="pod">
            <div class="pod-image"><img src="{{offerimage1}}" /></div>
            <div class="pod-content">
                <div><b>OfferId:</b> {{offerid}}</div>
                <div><b>offerdescription:</b> {{offerdescription}}</div>
                <div><b>Summary:</b> {{offersummary}}</div>
                <div><b>Value:</b> {{offervalue}}</div>
            </div>
         </li>
      {{/if}}
    {{/each}}
  </ul>
</div>
